 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("/static/images/0f078bc84baac761918cf7fb343250ea3439789fc446317b06ebd418502b3fe8083ee67c6ec767e05bb45bd0698a5252c0da60ee9aa96a56526ba1_1280.jpg");
  
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 445px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 770px;
  margin: 183px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 11px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 367px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 211px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 540px;
    margin-top: 90px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 133px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.125rem;
    width: 340px;
    margin-top: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 325px;
}

.u-section-2 .u-form-1 {
  height: 242px;
  width: 437px;
  margin: 36px auto 0;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
  font-weight: normal;
}

.u-section-2 .u-label-1 {
  font-weight: 700;
}

.u-section-2 .u-input-1 {
  background-image: none;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
  font-weight: normal;
}

.u-section-2 .u-label-2 {
  font-weight: 700;
}

.u-section-2 .u-input-2 {
  background-image: none;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
  font-weight: normal;
}

.u-section-2 .u-label-3 {
  font-weight: 700;
}

.u-section-2 .u-input-3 {
  background-image: none;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  background-image: none;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -225px auto 0 169px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: left;
  margin: 34px auto 0 169px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: left;
  margin: 38px auto 78px 169px;
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 106px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 106px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 106px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 378px;
}

.u-section-3 .u-map-1 {
  width: 837px;
  height: 312px;
  margin: 24px 145px 42px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-map-1 {
    margin-right: 103px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-map-1 {
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-map-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-map-1 {
    width: 340px;
  }
}